.profile{
  position: relative;
  top: 5rem;

  .gridWrap{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: end;
  }
  .card:nth-child(even){
    justify-self: start;
  }
}
