.commentForm{
  form{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  input{
    line-height: 1.5rem;
  margin: .5rem 0;

  }
  button{
    width: 4rem;
    align-self: end;
  }
}
}
